.single-user {
    padding: 15px 20px;
    background-color: #2F3349;
    width: 250px;
    height: 120px;
    position: relative;
    margin-top: 26px;
    color: #CFD3EC;
    border-radius: 8px;
    display: flex;
}

.user-infos {
    margin-top: 20px;
    width: 60%;
    font-weight: 600;
    text-align: left;
    line-height: 22px;
}

.buttons-holder {
    width: 40%;
    position: relative;
}

.buttons-holder div {
    margin-top: 12px;
    border-radius: 3px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.come {
    background: linear-gradient(to right, rgba(115, 103, 240, 0.6) 0%, rgba(115, 103, 240, 0.8) 100%);
}

.come:hover {
    transform: translate(-1px, -1px);
    box-shadow: inset 2px 2px 5px rgba(255,255,255,0.4),
    2px 2px 2px 1px rgba(0,0,0,0.3);
}

.go {
    border: 1px solid #7367f099;
}

.go:hover {
    border-radius: 15px;
}