.nav-holder {
    width: 100%;
    height: 65px;
    position: relative;
    color: #CFD3EC;    
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #2F3349;
    border-radius: 6px;
}

.nav .user {
    letter-spacing: 0.4px;
    font-size: 15px !important;
    font-weight: 500;
    width: 18%;
}

.nav .welcome {
    margin: 0;
    position: relative;
    width: 70%;
    text-align: center;
    line-height: 30px;
}

.welcome .welcometitle p {
    line-height: 45px;
    font-size: 21px;
    font-weight: 600;
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 1600px) {
    .nav .user {
        font-size: 15px;
        margin-left: 25px;
    }

    .welcome .welcometitle p {
        font-size: 19px;
        line-height: 50px;
    }
} 